<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>Example</title>
	<link rel="stylesheet" href="" th:href="@{/css/mystyle.css}" />
</head>
<body>

		<div class="container">
		
			<img src="" class="imag" th:src="@{image/imag.jpg}" alt="" />
		
			<h1>HTML, CSS, JS</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae quasi explicabo placeat unde vitae laboriosam voluptatibus recusandae. Non impedit error esse aperiam quas ab distinctio dolorem cumque pariatur in eaque.</p>
			<h2>This is Gowtham</h2>
		</div>
		
		<script src="" th:src="@{/js/myjs.js}"></script>
	
</body>
</html>