<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>Example of loop</title>
</head>
<body>

	<h1>Going to traverse elements in collection...</h1>
	<!--  -->
	<h2 th:text="${names}"></h2>
	
	<ul>
		<li th:each="e, status: ${names}">
			<span th:text="${status.index}+' '+${e}"></span>
		</li>
	</ul>
	
	<ul>
		<li th:each="e, status: ${names}">
			<span th:style= "${status.odd} ? 'font-weight:bold' : 'color:blue' " th:text="${e}"></span>
		</li>
	</ul>
	
	<!--  
	index: the current iteration index, starting with 0 (zero)
	count: the number of elements processed so far
	size: the total number of elements in the list, 
	even/odd: checks if the current iteration index is even or odd
	first: checks if the current iteration is the first one 
	last: checks if the current iteration is the last one 
	 -->
</body>
</html>