body {
	background: #e2e2e2!important;
}
.bg-primary {
	background: #009688!important;
}
.banner {
	width: 100%;
	height: 93vh;
	background: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.8)), url(../image/banner.jpg);
	background-size: cover;
	color: white;
}
.my-card {
	padding: 20px;
	background: #FFFFFF;
}

#login .container #login-row #login-column #login-box {
	margin-top: 120px;
	max-width: 600px;
	height: 420px;
	border: 1px solid #9C9C9C;
	background-color: white;
  }
  #login .container #login-row #login-column #login-box #login-form {
	padding: 20px;
  }
  #login .container #login-row #login-column #login-box #login-form #register-link {
	margin-top: -85px;
  }

.login-logo{
    position: relative;
    margin-left: -41.5%;
}
.login-logo img{
    position: absolute;
    width: 20%;
    margin-top: 19%;
    background: #282726;
    border-radius: 4.5rem;
    padding: 5%;
}
.login-form{
    padding: 9%;
    background:#282726;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form h3{
    text-align: center;
    margin-bottom:12%;
    color:#fff;
}
.login-form-2{
    padding: 9%;
    background: #f05837;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-2 h3{
    text-align: center;
    margin-bottom:12%;
    color: #fff;
}
.btnSubmit{
    font-weight: 600;
    width: 50%;
    color: #282726;
    background-color: #fff;
    border: none;
    border-radius: 1.5rem;
    padding:2%;
}
.btnForgetPwd{
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}
.btnForgetPwd:hover{
    text-decoration:none;
    color:#fff;
}

/* SideBar style */

@media only screen and (max-width: 600px) {
    .sidebar {
        display: none;
        width: 80% !important;
        background: white;
        height: 100vh;
        position: fixed;
        padding-top: 20px;
    }
    .content {
        margin-left: 0% !important;
    }
}

.sidebar {
    width: 18%;
    background: white;
    height: 100%;
    position: fixed;
    padding-top: 45px;
    z-index: 99999999999999;
}

.sidebar a {
    display: block;
    width: 100%;
    padding: 10px 25px;
    text-decoration: none;
    color: gray;
}

.sidebar a:hover {
    background: #e2e2e2;
}

.sidebar .divider {
    height: .5px;
    width: 100%;
    background: #e2e2e2;
    margin-top: 10px;
}
.content {
    margin-left: 20%;
}

.sidebar .crossBtn {
    position: absolute;
    top: 0;
    right: 35px;
    font-size: 36px;
    cursor: pointer;
}